.about-page{
    margin-top: 2%;
    background-color: #ffe2cb;
    height: 100vh;

}

.about-image{ 
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    background-color: rgb(255, 255, 255);
    border-top-left-radius:95% ;
    border-bottom-left-radius:85% ;
    flex: 130rem;
}
.family{
    width: 100%;
    height: 100%;
 
}
.about-content{

 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
height: 580px;

}
.about-content p{
   font-size: 23px;
   margin-left: 3%;
   text-align: center;
   margin-right: 12%;
 
}
.about-content h2{
    font-size: 43px;
    
    text-decoration: underline;
    font-family: "Italiana", sans-serif;
    font-weight: 200;
    font-style: normal;
}